body {
    background-color: black !important;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

/*                            Header                                    */
header {
    background-color: #272222;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px 3px #2c2c2c;
    z-index: 1;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
}

#logo {
    margin: 0;
    padding: 10px;
    margin-left: 20px;
}

h1{
    font-size: 2.5rem;
}

#menu ul li {
    vertical-align: middle;
    margin-left: 25px;
}

#menu ul {
    padding-left: 0;
    float: right;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-around;

}


header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    background-color: green;
}

li {
    list-style: none;
}

@media (max-width: 760px) {
   
    header {
        height: inherit;
        text-align: center;
        flex-flow: column;
    }

    header #menu{
        display: flex;
        flex-direction: row;
    }

}

/*                            Footer                                    */

footer {
    background-color: #272222;
    color: white;
    position: fixed;
    bottom: 0;
    height: 10vh;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#contacto {
    text-align: center;
    padding: 10px;
}

#contacto a img {
    width: 25px;
}

.btncontacto {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}





/*                            Main                                    */

main {
    margin: 0 auto;
    width: 80%;
    margin-top: 73px;
    color: white;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

h2 {
    font-weight: 800;
    margin-bottom: 70px;
    text-align: left;
}



@media (max-width: 760px) {

    .grid-container {
        grid-template-columns: 100%;
        column-gap: 0;
    }

    #intro{
        text-align: center;
    }
}


/*                            INDEX                                    */





#foto img {
    width: 15em;
    float: right;
    margin-right: 70px;
}

#intro {
    color: white;
    display: inline;
}

#intro h1 {
    font-size: 2em;
}

#intro h1 strong {
    font-size: 3rem;
    color: #1F9B00;
}

#intro p {
    margin-bottom: 40px;
}


#intro a:hover {
    background-color: #1F9B00;
}

#form-contacto{
    padding-top: 8em;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 760px) {
    #foto img {
        width: 15em;
        float: none;
        margin-right: 0;
    }
    #foto{
        text-align: center;
    }
   
}




/*                            Educacion                                    */

hr {
    margin-top: 20px;
    margin-bottom: 0;
}

#sectionEd {
    width: 70%;
    margin: 0 auto;
}

.dataImagen {
    display: inline;
}

.educacion{
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;
}


.educacion img {
    width: 5em;
}

.dataImagenTop {
    display: none;
}

@media (max-width: 768px) {
  .dataImagen{
    display: none;
  }
  .dataImagenTop{
    display: block;
    text-align: center;
  }

  .educacion{
    display: block;
  }
  .data{
    text-align: center;
  }


}

/*                            EXPERIENCIA                                    */

#experiencia {
    margin: 0 auto;
    width: 100%;
    float: left;
}

#todoExp{
    display: flex;
    justify-content: space-between;
}

.exp ul li {
    list-style: circle;
}


@media (max-width: 768px) {
    #todoExp{
        display: block;
    }
}


/*                            PORTFOLIO                                   */


#portfolio1 {
    text-align: center;
}

h2 {
    text-align: left;
}

.grid-container-portfolio {
    padding: 1em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.proyecto:hover {
    opacity: 60%;
}

.proyecto a img {
    width: 85%;
}

.button{
    width: 100%;
    text-align: center;
}

.proyecto{
    padding-bottom: 1em;
}

#behance:hover {
    background-color: #1F9B00;
}

@media (max-width: 768px) {
    .grid-container-portfolio {
        grid-template-columns: 50% 50%;
    }
}



/*                            CURIOSIDADES                                   */



.preguntas {
    display: inline;
    width: 33%;
    float: left;
}

.preguntas ul {
    padding: 0;
}

#faqs {
    width: 100%;
    display: inline-block;
    text-align: center;
}