
#faqs {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-around;
}
.botonesToggle {
	ul {
		padding: 0;
	}
}
#botonesToggle {
	display: none;
	text-align: center;
	.row {
		display: block;
	}
	button {
		margin-top: 2em;
	}
}
