#portfolio1 {
	text-align: center;
}

.grid-container-portfolio {
	padding: 1em;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.proyecto {
	&:hover {
		opacity: 60%;
	}
	a {
		img {
			width: 85%;
		}
	}
	padding-bottom: 1em;
}


@media (max-width: 768px) {
	.grid-container-portfolio {
		grid-template-columns: 50% 50%;
	}
}
