$color_1: white;
$background-color_1: #272222;

footer {
	background-color: $background-color_1;
	color: $color_1;
	position: fixed;
	bottom: 0;
	height: 10vh;
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
#contacto {
	text-align: center;
	padding: 10px;
	a {
		img {
			width: 25px;
		}
	}
}
.btncontacto {
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}
