$color_1: white;

main {
	margin: 0 auto;
	width: 80%;
	margin-top: 73px;
	color: $color_1;
	margin-bottom: 100px;
}
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 10px;
}
h2 {
	font-weight: 800;
	margin-bottom: 70px;
	text-align: left;
}
