
@media (max-width: 760px) {
	#faqs {
		display: none;
	}
	#botonesToggle {
		display: block;
	}
	#foto {
		img {
			width: 15em;
			float: none;
			margin-right: 0;
		}
		text-align: center;
	}
	.grid-container {
		grid-template-columns: 100%;
		column-gap: 0;
	}
	#intro {
		text-align: center;
	}
	header {
		height: inherit;
		text-align: center;
		flex-flow: column;
		#menu {
			display: none;
		}
	}
	#hambBut {
		display: block;
	}
	.p-4 {
		ul {
			padding-left: 0;
		}
	}
	#logoNav {
		display: flex;
		width: 100%;
		flex-flow: wrap;
		justify-content: space-around;
	}
}
@media (max-width: 768px) {
	.grid-container-portfolio {
		grid-template-columns: 50% 50%;
	}
	#todoExp {
		display: block;
	}
	.dataImagen {
		display: none;
	}
	.dataImagenTop {
		display: block;
		text-align: center;
	}
	.educacion {
		display: block;
	}
	.data {
		text-align: center;
	}
}
