
@mixin experiencias($bg, $text){
	width: 100%;
    background-color: $bg !important;
    color: $text !important;
}



.exp1{
    @include experiencias(green, white);
}

.exp2{
    @include experiencias(white, green);
}

.exp3{
    @include experiencias(green, white);
}