$color_1: white;

main {
	margin: 0 auto;
	width: 80%;
	margin-top: 1.5rem;
	color: $color_1;
	margin-bottom: 100px;
}
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 10px;
}
h2 {
	font-weight: 800;
	margin-bottom: 5rem !important;
	text-align: center;
	font-size: 3rem !important;
	text-decoration: underline;
}

h3{
	font-size: 1.5rem !important;
	font-weight: bold !important;
}

h5{
	font-size: 1rem !important;
}

h6{
	font-size: .75rem !important;
	font-style: italic;
}

.button {
	width: 100%;
	text-align: center;
}